{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block title %}Registration{% endblock %}

{% block body %}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <form method="POST">
        <h3 align="center">New Service Registration</h3>

        <div class="form-group">
          

          <label for="description">Description</label>
          <input
            type="text"
            class="form-control"
            id="description"
            name="description"
            placeholder="Type in the description"
          />
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input
              type="text"
              class="form-control"
              id="address"
              name="address"
              placeholder="Type in the address"
            />
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="Type in your email address"
            />
        </div>
        <div class="form-group">
          <label for="doctor">doctor</label>
          <input
            type="doctor"
            class="form-control"
            id="doctor"
            name="doctor"
            placeholder="Type in the doctor"
          />
      </div>
      <div class="form-group">
        <label for="phone">phone</label>
        <input
          type="phone"
          class="form-control"
          id="phone"
          name="phone"
          placeholder="Type the phone number"
        />
      </div>
      <div class="form-group">
        <label for="price">price</label>
        <input
          type="price"
          class="form-control"
          id="price"
          name="price"
          placeholder="Type the price "
        />
      </div>
      <label for="type">Is the service pet friendly?</label><br>
            <input type="radio" id="yes" name="ramed" value="yes" checked>
            <label for="yes">Yes</label>
            <input type="radio" id="no" name="ramed" value="no">
            <label for="no">No</label>
        <br />
        <button type="submit" class="btn-primary btn-outline-primary">Submit</button>
      </form>
    </div>
    <div class="col-3"></div>
</div>

{% endblock %}