{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block title %}Run{% endblock %}

{% block body %}

        <style>
        .center {
          margin: auto;
          width: 50%;
          padding: 10px;
        }
      </style>


    <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">{{username}}</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">My account</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" placeholder="first name" value="{{name}}" readonly></div>
                    <div class="col-md-6"><label class="labels">Last Name</label><input type="text" class="form-control" value="{{surname}}" placeholder="surname" readonly></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Username</label><input type="text" class="form-control" placeholder="username" value="{{username}}" readonly></div>
                    <div class="col-md-12"><label class="labels">Email address</label><input type="text" class="form-control" placeholder="enter email id" value="{{email}}" readonly></div>
                    <div class="col-md-12"><label class="labels">User type</label><input type="text" class="form-control" placeholder="user type" value="{{user_type}}" readonly></div>
                </div>

                <div class="mt-5 text-center">
                    <a href="updateaccount" class="btn btn-info" role="button">Edit Account</a></br></br>
                    <a href="deleteaccount" class="btn btn-danger" role="button">Delete Account</a>
</div>

            </div>
        </div>
    </div>
</div>
</div>
</div>

{% endblock %}
